{{#extend "html"}}
	{{#content "title"}}Zooniverse Export Tool: Dashboard{{/content}}
	{{#content "body"}}
		<h1>Dashboard</h1>
		<h2>Errors</h2>
		<table id="errors">
			<thead>
				<tr><th>Count</th><th>First</th><th>Last</th><th>Error</th></tr>
			</thead>
			<tbody>
			{{#each errors}}
				<tr>
					<td>{{this.count}}</td>
					<td>{{this.first}}</td>
					<td>{{this.last}}</td>
					<td class="descr" data-context="{{this.payload}}">{{this.error_id}}</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
		<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	document.querySelectorAll('.descr').forEach((td) => {
		let ctx = td.dataset.context
		try {
			ctx = JSON.parse(ctx)
			if (ctx.error) {
				ctx.error = JSON.parse(ctx.error);
			}
			ctx = JSON.stringify(ctx, null, '\t').replace(/\\n/g, '\n');
		}
		catch (ex) {
			console.error(ex);
		}
		const pre = document.createElement('pre');
		pre.innerText = ctx;
		pre.addEventListener('click', () => pre.classList.toggle('open'));
		td.appendChild(pre);
	});
});
		</script>
	{{/content}}
{{/extend}}
