{{#extend "html"}}
	{{#content "title"}}Download the Zooniverse Export Tool{{/content}}
	{{#content "body"}}
		<ul id="downloads">
			{{#each meta}}
				<li class="{{#if this.active}}active{{/if}}">
					<a href="/packages/{{this.file}}">
						<h2>{{this.label.platform}} <span class="arch">{{this.label.arch}}</span></h2>
						<div class="detail">
							<span class="file">{{this.file}}</span>
							<span class="size">{{this.size}}</span>
							<code class="hash">{{this.sha1sum}}</code>
						</div>
						<div class="icon"></div>
					</a>
				</li>
			{{/each}}
		</ul>
		{{#if sourceUrl}}
		<p><a href="{{sourceUrl}}">Source code</a></p>
		{{/if}}
	{{/content}}
{{/extend}}
