
* {
	box-sizing: border-box;
}

#prnt {
	font: caption, sans-serif;
	display: grid;
	height: 100%;
	grid-template-rows: 10px 86%;
	grid-gap: 20px;
}
/* MIT: https://projects.lukehaas.me/css-loaders/ */
#loader,
#loader:after {
	border-radius: 50%;
	width: 20em;
	height: 20em;
}
#loader {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-top: -20em;
	margin-left: -10em;
	font-size: 10px;
	text-indent: -9999em;
	border-top: 2.1em solid rgba(25, 75, 175, 0.4);
	border-right: 2.1em solid rgba(25, 75, 175, 0.4);
	border-bottom: 2.1em solid rgba(25, 75, 175, 0.4);
	border-left: 2.1em solid rgba(0,0,0,0);
	transform: translateZ(0);
	animation: load8 1.1s infinite linear;
	display: none;
}
.loading #loader {
	display: block;
}
@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.body {
	height: 800px;
}
#prnt.loading {
	opacity: 0;
}
#tabs {
	border-bottom: 4px solid #265cb5;
	margin: 0;
	padding: 0 2em;
	list-style: none;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(4, [col-start] 1fr);
	grid-gap: 10px;
}
#bodies {
	padding: 0;
	grid-row: 2;
	overflow: auto;
	height: 100%;
	background: #f0f0f0;
	margin-top: 0;
}
#bodies > li {
	display: none;
	grid-column: 1 / -1;
}
#bodies > li.active {
	display: block;
}
#content {
	grid-row: 2;
	margin: 0 20px;
	grid-column: 1 / -1;
	overflow: hidden;
	position: fixed;
	top: 10px;
	bottom: 60px;
	left: -20px;
	right: -20px;
}

#tabs li {
	user-select: none;
	cursor: pointer;
	text-align: center;
	background: #f8f8f8;
	color: #666;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	grid-auto-columns: auto;
	padding: 5px;
}
#tabs .active {
	background: #265cb5;
	color: #f3f3f3;
	font-weight: bold;
	cursor: text;
}
#tabs .body {
	display: none;
}
#tabs .active .body {
	display: block;
}
.help {
	padding: 2px 4px;
	border-radius: 2px;
	border: 1px solid #ddd;
	color: #ccc;
	cursor: help;
	font-weight: bold;
}
#summary {
	width: 100%;
}
#summary table td {
	padding: 6px;
}
#summary>tbody>tr>td {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-left: 16px;
	padding-right: 8px;
}
#summary>tbody>tr>td:first-child {
	text-align: right;
	font-weight: bold;
	color: #888;
	border-left-color: transparent;
	border-bottom-color: #f3f3f3;
}
#summary>tbody>tr:last-child td {
	border-bottom: transparent;
}
th {
	position: relative;
	top: 24px;
	font-size: 14px;
}
thead th:first-child {
	width: 300px;
}
thead.full th {
	top: 0;
}
thead.classifications th {
	left: 50px;
}
thead.workflow th:first-child {
	width: auto;
}
.workflow-version {
	font-size: 0.8em;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
