.line {
	fill: none;
  	stroke-width: 1.5px;
}
#focus {
	fill: none;
	stroke: #eee;
	stroke-width: 1px;
	r: 4;
	opacity: 0;
}
#mouse-bounds {
	stroke: #533;
	stroke-width: 2px;
	fill: #fdfdfd;
	pointer-events: all;
}
#prnt {
	position: relative;
}
#tool-tip {
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px;
	background: #f3f3f3;
	border-radius: 4px;
	opacity: 0;
}
#tool-tip.active {
	opacity: 0.85;
}
h2 {
	font-size: 1em;
	margin: 0;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
