h1 {
	color: #0f0;
}

zn-toggle {
	margin: 0.5em;
	display: inline-block;
	width: 600px;
}

#example {
	background: #fafafa;
	padding: 1em;
	border: 1px dashed #aaa;
	border-radius: 6px;
	width: 600px;
}
/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
