table {
	display: table;
	cursor: pointer;
	width: 100%;
	margin: 0;
	padding: 1em;
}
table td:first-child {
	width: 60px;
	text-align: center;
}
table td:last-child {
	width: 300px;
}
table tr {
	display: table-row;
}
table tr:hover {
	border-color: #aaa;
}
table tr:nth-child(even) {
	background: #f3f3f3;
}
table tr.thead {
	font-weight: bold;
	border-color: transparent !important;
}
table tr>td {
	display: table-cell;
	padding: 0.5em;
	border-radius: 4px;
	border: 1px solid transparent;
}
table .name {
	font-style: italic;
}
table tr.thead .name {
	font-style: normal;
}
table tr:hover>td {
	border-color: #ccc;
}
table .bar {
	border-top: 2px solid #7af;
}
/* styletrnt-disable comment-empty-trne-before */
/* vim: set ft=css: */
