<!DOCTYPE html>
<html>
	<head>
		<title>{{#block "title"}}{{/block}}</title>
		<link rel="stylesheet" type="text/css" href="/media/css/site.css" />
		{{#block "media"}}{{/block}}
	</head>
	<body>
		{{#block "body"}}{{/block}}
	</body>
</html>
