div {
	display: inline-block;
	position: absolute;
}
#prnt {
	position: relative;
	width: 400px;
	line-height: 16px;
	height: 48px;
}
span {
	display: inline-block;
}
#bar {
	left: 50px;
	width: 450px;
	height: 1em;
	background: #cce;
	top: 16px;
}
#min {
	top: 16px;
	right: 354px;
}
#max {
	top: 16px;
	left: 504px;
}
#mean {
	top: 0;
}
#median {
	bottom: 0;
}
.label {
	font-size: small;
	color: #888;
	font-style: italic;
}
.marker {
	height: 16px;
	width: 2px;
	background: #888;
}

/* stylelint-disable comment-empty-line-before */
/* vim: set ft=css: */
