@import 'flatpickr/dist/flatpickr.css';
.flatpickr-calendar {
	position: absolute !important;
	top: -300px !important;
	left: 10px;
	display: none !important;
}
.flatpickr-calendar.open {
	display: block !important;
}
.flatpickr-months .flatpickr-month {
	height: 35px;
	top: -7px;
}
#filters input, #filters button {
	max-height: 40px;
	width: 100%;
	margin: auto auto;
	padding: 1em;
	border-radius: 4px;
}
#filters button, #date-range {
	max-height: 46px;
	border: 0;
	background: #265cb5;
	color: #f3f3f3;
	font-weight: bold;
	cursor: pointer;
}
#date-range.open {
	border: 1px inset #888;
	background: #ddd;
	color: #333;
	box-shadow: inset 0 0 11px 0 rgba(0, 0, 0, 0.3);
}
#filters {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 1em;
	padding-right: 1em;
	height: 60px;
	background: #eee;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 10px;
	overflow: visible;
}
#date-range {
	grid-column: 1 / 4;
	text-align: center;
}
#filter {
	grid-column: 5 / 10;
}
#apply-filters {
	grid-column: 11 / 13;
}
